.item{
    border-radius: 12rpx;
    background-color: white;
    border: 2rpx solid rgba(16, 16, 16, 0.1);
    padding: 20rpx 16rpx;
    display: flex;
    align-items: center;
    .img{
       width: 240rpx;
       // 解决挤压问题 https://www.runoob.com/cssref/css3-pr-flex-shrink.html
       flex-shrink:0;
    }   
    .info{
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0 20rpx;
        .title{
            font-size: 28rpx;
            font-weight: bold;
            color: #555555;
        }
        .content{
            margin-top: 10rpx;
            font-size: 24rpx;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .footer{
            margin-top: 10rpx;
            font-size: 16rpx;
            color: rgba(16, 16, 16, 100);
            display: flex;
            justify-content: space-between;
        }   
    }
}