.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow:2px 2px 3px #aaaaaa;
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    .img{
      height: 32px;
      // border-radius: 30%;
    }
    .title{
      flex: 1;
      text-align: center;
      color: white;
      font-weight: 400;
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
    }

  }
}
