page{
    height: 100%;
    width: 100%;
    // background-color: #f2f5f7;
    .at-divider{
        width: 750rpx - 50rpx;
        margin-left: 25rpx;
        margin-bottom: 80rpx;
        .at-divider__content{
            font-size: 24rpx;
            // background-color: #f3f5f7;
        } 
    }  

    .at-search-bar{
        &::after{
            display: none;
        }
        background-color: transparent;
        .at-search-bar__input-cnt{
            background-color: #e9ebeb;
        }
    }
}