.index{
    .header{
        background: #ffffff;
        color: black;
        text-align: center;
    }
    .layout{
        height: 100vh;
        .footer{
            text-align: center;
        }
    }
}