.get_data{
    .title{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .subtitle{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .files{
        margin-top: 30rpx;
        margin-bottom: 160rpx;
    }
    .btn{
        width: calc( 100% - 80rpx );
        position: fixed;
        margin: 60rpx 40rpx;
        bottom: 0;
    }
}