.index{
    background-color: white;
    
    .imageWrap{
        display: flex;
        justify-content: center;
        align-items: center;
        .image{
            height: calc(100vw * 150 / 414);
            width: 100%;
        }
    }
}