.index {
  margin: 24px 16px;
  padding: 24px 16px;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  .add {
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .list {
    margin-top: 20px;
  }
  
}
:global(.avatar-uploader){
  text-align: center;
}
